<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.unipampa.appavaliacoes">

    <application
        android:name=".Service.Channel"
        android:allowBackup="true"
        android:icon="@mipmap/ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.MainActivity" />
        <activity android:name=".Service.NotificationReceiver" />
        <activity android:name=".Controller.TipoNotificacao" />
        <activity android:name=".Controller.NotificationChannel" />
        <activity android:name=".Controller.AdicionarAvaliacaoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.SplashScreenActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>